/database.sqlite
*.class
/out/
/target/
/config.json
/logs/
/.idea/
/dependency-reduced-pom.xml
data/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
